# File extensions to ignore
*.pyc
*.log
*.old
*.DS_Store

# Directories to ignore
[Tt]estdata
[Dd]ata
[Oo]utput
[Rr]esults
[Ll]ogs
[Tt]ools
tests/logs
tests/uncommited_data
__pycache__
.pytest_cache
.vscode
.ruff_cache

# virtual environments
venv




